<html>
  <head>
    <title><%= node['conference']['name'] %></title>
  </head>
  <body>
    <h1>Hello, <%= node['conference']['name'] %></h1>
    <h3>Welcome to <%= node['conference']['city'] %></h3>
  </body>
</html>
